.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 24px;
  color: var(--text-main-color);
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-s);
  background-color: var(--dark-color);
  background-image: url('../../images/background-image.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  max-inline-size: 1024px;
  min-block-size: 100svh;
}