.button {
  border: 2px solid transparent;
  border-radius: 24px;
  padding: 24px;
  background-color: var(--component-main-color);
  backdrop-filter: blur(8px);
  transition: box-shadow var(--transition-default),
              border-color var(--transition-default),
              scale var(--transition-default);
  cursor: pointer;
  inline-size: fit-content;

  &:hover {
    border-color: var(--accent-color);
    box-shadow: 0 0 16px 0 var(--accent-color);
  }

  &:active {
    scale: 0.95;
  }
}

.button__title {
  color: var(--text-main-color);
  font-weight: 700;
  font-size: var(--font-size-s);
}

@media (max-width: 425px) {
  .button {
    inline-size: 100%;
  }
}