.footer {
  display: flex;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

.footer__text {
  color: var(--text-secondary-color);
  font-size: var(--font-size-s);
}

/* .footer__heart {
  
} */