@font-face {
  font-family: "Neue Machina Light";
  src: url("./fonts/NeueMachina-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina Regular";
  src: url("./fonts/NeueMachina-Regular.otf") format("opentype");
  font-weight:400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina Ultrabold";
  src: url("./fonts/NeueMachina-Ultrabold.otf") format("opentype");
  font-weight: 800;
  font-display: swap;
}