.intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.intro__title {
  font-size: var(--font-size-xxl);
}

.intro__text {
  font-size: var(--font-size-s);
} 

.intro__title-accent {
  color: var(--accent-color);
  text-shadow: 0 0 16px var(--accent-color);
}