.header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  inline-size: 100%;
  padding: 24px;
}

.logo {
  pointer-events: none;
  user-select: none;
  inline-size: 235px;
  block-size: 111px;
}