@import url("./assets/fonts/fonts.css");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Geist", sans-serif;
  background-color: rgba(10, 10, 10, 1);
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-block-size: 100svb;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  justify-content: center;
  gap: 48px;
  max-width: 1280px;
  padding: 24px;
  text-align: center;
  inline-size: 100%;
  min-block-size: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 24px;
  min-block-size: 100%;
}
