@import url("./assets/fonts/fonts.css");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Geist", sans-serif;
  background-color: rgba(10, 10, 10, 1);
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  block-size: 100svb;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 128px;
  max-width: 1280px;
  padding: 24px;
  text-align: center;
  inline-size: 100%;
  block-size: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  block-size: 100%;
}
