:root {
    /* Основные цвета */
    --color-bg-dark: #1A1A1A;
    --color-bg-light: #FAFAFA;
  
    --color-text-light: #F8F4F0;
    --color-text-dark: #2C3E50;
  
    --color-accent-red: #8C2F39;
    --color-accent-yellow: #F1C40F;
    --color-accent-orange: #E67E22;
    --color-accent-blue: #3498DB;
  
    /* Дополнительно */
    --color-border: rgba(255, 255, 255, 0.1);
    --color-shadow: rgba(0, 0, 0, 0.2);

    --transition-default: 0.3s ease;
}

html {
  scroll-padding-block-start: 24px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 0 auto;
  padding: 24px;
  color: var(--color-text-light);
  font-family: "Geist", sans-serif;
  background-color: var(--color-bg-dark);
  background-image: url(../svg/page-background-circle.svg);
  background-repeat: no-repeat;
  background-position: top center;
  font-optical-sizing: auto;
  max-inline-size: 1024px;
  min-block-size: 100svb;
}

.header {
  block-size: 40px;
}

.logo {
  position: relative;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-inline: 1px solid var(--color-border);
  padding: 24px;

}

.intro__title {
  position: relative;
  z-index: 1;
  color: var(--color-text-primary);
  font-weight: 700;
  font-size: 48px;
  user-select: none;
}

.accent__text {
  color: var(--color-accent-red);
}

.intro__text {
  position: relative;
  z-index: 1;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 16px;
  user-select: none;
}

/* Ввод фильма */
.input {
  display: flex;
  gap: 24px;
  background-color: transparent;
}

.input__text {
  z-index: 1;
  border: 1px solid var(--color-border);
  padding: 24px;
  color: var(--color-text-primary);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-bg-dark);
  transition: box-shadow var(--transition-default), border-color var(--transition-default);
  inline-size: 100%;
}

.input__text::placeholder {
  opacity: 0.6;
  color: var(--color-text-light);
  font-weight: 400;
  font-size: 16px;
}

.input__text:focus {
  border-color: var(--color-accent-red);
  box-shadow: 0 0 12px 0 var(--color-accent-red);
  outline: none;
}

/* Контейнер с кнопками и сами кнопки */
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  inline-size: 100%;
}

.button {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border: none;
  border-inline: 1px solid var(--color-border);
  border-block: 1px solid transparent;
  padding: 24px;
  background-color: transparent;
  transition: background-color var(--transition-default), border var(--transition-default), border-radius var(--transition-default), scale var(--transition-default);
  cursor: pointer;
  min-inline-size: 272px;
}

.button:hover {
  border-radius: 16px;
  border-block: 1px solid var(--color-border);
  background-color: var(--color-border);
}

.button:active {
  scale: 0.95;
}

.button__title {
  color: var(--color-text-primary);
  font-weight: 400;
  font-size: 16px;
  user-select: none;
}

.button__icon {
  inline-size: 20px;
  block-size: 20px;
}

/* Карточки */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  position: relative;
  display: flex;
  gap: 24px;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: 24px;
  background-color: var(--color-bg-dark);
  transition: box-shadow var(--transition-default), border-color var(--transition-default), scale var(--transition-default);
  cursor: pointer;
  user-select: none;
  inline-size: 100%;
}

.card:hover {
  border-color: var(--color-accent-red);
  box-shadow: 0 0 12px 0 var(--color-accent-red);
}

.card:active {
  scale: 0.95;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.card__image {
  border-radius: 8px;
  inline-size: 136px;
  block-size: 204px;
}

.card__title {
  color: var(--color-text-light);
  font-weight: 700;
  font-size: 20px;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__text {
  opacity: 0.6;
  color: var(--color-text-light);
  font-weight: 400;
  font-size: 16px;
}

.appear {
  animation: appear var(--transition-default) forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Эффекты фона страницы */
.particles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.particle {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0.8;
  background-color: var(--color-accent-red);
  pointer-events: none;
}

@media (max-width: 425px) {
  .input {
    flex-wrap: wrap;
  }

  .card {
    flex-direction: column;
    align-items: start;
  }
}