:root {
    /* Основные цвета */
    --color-bg-dark: #1A1A1A;
    --color-text-light: #FAFAFA;
    --color-accent-red: #8C2F39;
    
    /* Размеры отступов */
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 48px;
    
    /* Шрифты */
    --font-size-sm: 16px;
    --font-size-md: 24px;
    --font-size-lg: 40px;
    
    /* Дополнительно */
    --color-border: rgba(255, 255, 255, 0.1);
    --transition-default: 0.3s ease;
}

html {
  scroll-padding-block-start: 24px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin: 0 auto;
  padding: var(--space-md);
  color: var(--color-text-light);
  font-family: "Geist", sans-serif;
  background-color: var(--color-bg-dark);
  background-image: url(../svg/page-background-circle.svg);
  background-repeat: no-repeat;
  background-position: top center;
  font-optical-sizing: auto;
  max-inline-size: 1024px;
  min-block-size: 100svb;
}

.header {
  block-size: 40px;
}

.logo {
  position: relative;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-lg);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  border-inline: 1px solid var(--color-border);
  padding: var(--space-md);

}

.intro__title {
  position: relative;
  z-index: 1;
  color: var(--color-text-light);
  font-weight: 700;
  font-size: var(--font-size-lg);
  user-select: none;
}

.accent__text {
  color: var(--color-accent-red);
}

.intro__text {
  position: relative;
  z-index: 1;
  opacity: 0.6;
  color: var(--color-text-light);
  font-weight: 400;
  font-size: var(--font-size-sm);
  user-select: none;
}

/* Ввод фильма */
/* .input {
  display: flex;
  gap: var(--space-md);
  background-color: transparent;
}

.input__text {
  z-index: 1;
  border: 1px solid var(--color-border);
  padding: 24px;
  color: var(--color-text-light);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-bg-dark);
  transition: box-shadow var(--transition-default), border-color var(--transition-default);
  inline-size: 100%;
}

.input__text::placeholder {
  opacity: 0.6;
  color: var(--color-text-light);
  font-weight: 400;
  font-size: 16px;
}

.input__text:focus {
  border-color: var(--color-accent-red);
  box-shadow: 0 0 12px 0 var(--color-accent-red);
  outline: none;
} */

/* Контейнер с кнопками и сами кнопки */
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: var(--space-md);
  inline-size: 100%;
}

.button {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  gap: var(--space-md);
  border: none;
  border-inline: 1px solid var(--color-border);
  border-block: 1px solid transparent;
  padding: var(--space-md);
  background-color: transparent;
  transition: background-color var(--transition-default), 
              border var(--transition-default), 
              border-radius var(--transition-default), 
              scale var(--transition-default);
  cursor: pointer;
  will-change: background-color, border, border-radius, scale;
  min-inline-size: 272px;

    &:hover {
    border-radius: 16px;
    border-block: 1px solid var(--color-border);
    background-color: var(--color-border);
  }
  
    &:active {
    scale: 0.95;
  }
}

.button__title {
  color: var(--color-text-light);
  font-weight: 400;
  font-size: var(--font-size-sm);
  user-select: none;
  text-align: start;
}

.button__icon {
  inline-size: 16px;
  block-size: 16px;
  opacity: 0.6;
}

/* Карточки */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
}

.card {
  position: relative;
  display: flex;
  gap: var(--space-md);
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: var(--space-md);
  background-color: var(--color-bg-dark);
  transition: box-shadow var(--transition-default), 
              border-color var(--transition-default), 
              scale var(--transition-default);
  cursor: pointer;
  user-select: none;
  will-change: contents, box-shadow, border-color, scale;
  inline-size: 100%;

    &:hover {
    border-color: var(--color-accent-red);
    box-shadow: 0 0 16px 0 var(--color-accent-red);
  }
  
    &:active {
    scale: 0.95;
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.card__image {
  border-radius: 8px;
  inline-size: 136px;
  block-size: 204px;
}

.card__title {
  color: var(--color-text-light);
  font-weight: 700;
  font-size: var(--font-size-md);
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__text-parameters {
  display: flex;
  gap: 8px;
}

.year, .rating {
  border: 1px solid var(--color-accent-red);
  padding: 8px 16px;
  border-radius: 16px;
}

.card__text {
  opacity: 0.6;
  color: var(--color-text-light);
  font-weight: 400;
  font-size: var(--font-size-sm);
}

.appear {
  animation: appear var(--transition-default) forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Эффекты фона страницы */
.particles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.particle {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0.8;
  background-color: var(--color-accent-red);
  pointer-events: none;
}

@media (max-width: 425px) {
  /* .input {
    flex-wrap: wrap;
  } */

  .card {
    flex-direction: column;
    align-items: start;
  }
}